/* Footer */
  footer {
    width: 100%;
    height: 210px;
    background: #151515;
    position: relative;
    z-index: 100;
  }
  /* sitemap 화면에서 footer가 완전히 안 보이게 */
  #footer.hide_footer {
    display: none;
  }
  footer .footer_inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
    gap: 100px;
  }
  .footer_inner .foot_logo { align-self: start;}
  .footer_inner .textSide {
    width: 50%;
    display: flex;
    gap: 50x;
    white-space: nowrap;
  }
  .textSide .left_txt {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }
  .textSide .right_txt {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
  }
  .tit, .desc, .under_line {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
  }
  .tit > p {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
  }
  .desc > p {
    font-size: 1rem;
    color: #aaa;
  }
  .under_line div {
    width: 30px;
    height: 20px;
    border-bottom: 1px solid #888;
  }
  .footer_inner .copyright {
    margin-top: 80px;
    margin-left: 15%;
    color: #aaa;
    font-size: 1rem;
    white-space: nowrap;
  }

  @media screen and (max-width: 768px) {
    footer {
      width: 100%;
      height: 400px;
    }
    .footer_inner {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 30px !important;
    }
    .footer_inner .foot_logo {
      padding-top: 10px;
      width: 100px !important;
      margin-left: 10px;
    }
    .footer_inner .foot_logo > img {
      width: 100%;
      object-fit: cover;
    }
    .footer_inner .textSide {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-self: flex-start;
      margin-left: 10px;
    }
    .left_txt > .tit {
      margin-right: 30px;
    }
    .left_txt > .desc {
      margin-left: 10px;
    }
    .right_txt {
      margin-top: 10px;
    }
    .right_txt > .tit {
      margin-right: 50px;
    }
    .tit, .desc, .under_line {
      gap: 20px;
    }
    .tit > p {
    font-size: 0.8rem;
    font-weight: bold;
    color: #fff;
    }
    .desc > p {
      font-size: 0.8rem;
      color: #aaa;
    }
    .under_line div {
      width: 30px;
      height: 20px;
      border-bottom: 1px solid #888;
    }
    .footer_inner .copyright {
      margin-top: 5px !important;
      font-size: 0.7rem;
      align-self: flex-start;
      margin-left: 10px;
    }
  }