.rnd_sec {
   width: 100%;
   height: 100vh;
   overflow: hidden;
   position: relative;  
   z-index: 0;
}
#video {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 0;
   /* pointer-events: none; */
   object-fit: cover;
}
.overlay {
   position: absolute;
   z-index: 100;
   color: #f5f3ee;
   top: 60%;
   left: 5%;
   /* transform: translateY(-50%); */
   width: 20%;
}
.overlay > h1 {
   font-family: "Cormorant", serif;
   font-weight: 400;
   font-size: 12rem;
   opacity: 0;
   transform: translateY(100px);
   transition: all 0.5s ease;
   transition-duration: 1s;
}
.overlay > p {
   font-size: 1.5rem;
   opacity: 0;
   transform: translateY(100px);
   transition: all 0.9s ease;
   transition-duration: 1.5s;
}
.overlay.on > h1, .overlay.on > p {
   opacity: 1;
   transform: translateY(0);
}

#rnd_sec2 {
   background-attachment: fixed;
   background-image: url("../img/rnd/m31_intro_bg.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: sticky;
}
.rnd_content .mid_menu {
   width: 100%;
   height: 80px;
   background-color: #EEEAE2;
}
.rnd_content .mid_menu .sub_menu {
   height: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
}
.rnd_content .mid_menu .sub_menu li {padding-right: 30px;border-right: 1px solid #aaa;}
.rnd_content .mid_menu .sub_menu li:last-child {border-right: none;}
.rnd_content .mid_menu .sub_menu li a {color: #666;font-size: 1rem;}

/* rndTecnologi.html frame text */
.rnd_content .frame1 {
   width: 100%;
   height: 180px;
   background-color: #f5f3ee;
}
.rnd_content .frame2 {
   width: 100%;
   height: 230px;
   background-color: #f5f3ee;
}
.rnd_content .window_frame {
   width: 100%;
   height: 500px;
   background-color: transparent;
   position: relative;
}
.window_frame > p {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 1.5rem;
   color: #f5f3ee;
}
/* rndResearch.html frame text */
.rnd_content .frame3 {
   width: 100%;
   height: 100%;
   background-color: #f5f3ee;
}
.rnd_content .frame3 .img_frame {
   width: 90%;
   height: 560px;
   background-color: #f5f3ee;
   margin: 0 auto;
   padding-top: 180px;
   margin-bottom: 50px;
   position: relative;
}
.rnd_content .frame3 .img_frame img {
   width: 100%;
}
.img_frame .text_opacity {
   position: absolute;
   top: 90%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 90%;
   height: 50%;
   display: flex;
   gap: 20px;
}
.img_frame > h4 {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 1.5rem;
   font-weight: 500;
   color: #f5f3ee;
}
.text_opacity .textBox {
   width: 33%;
   padding: 50px;
   background-color: rgba(103, 113, 98, 0.9); 
}
.text_opacity .textBox > h4 {
   font-size: 1.5rem;
   font-weight: 500;
   color: #f5f3ee;
   padding-bottom: 30px;
   border-bottom: 1px solid #aaa;
}
.text_opacity .textBox > h5 {
   font-size: 1rem;
   font-weight: 400;
   color: #f5f3ee;
   padding-top: 60px;
}
/* Technology */

/* #rnd_sec3 {
   width: 100%;
   height: auto;
   margin-bottom: 200px;
} */
.rnd_sec_long {
   width: 100%;
   padding: 0;
   margin: 0;
}
.rnd_sec_long .grid_container {
   width: 100%;
   height: 100%;
   display: grid;
   grid-template-columns: repeat(2, 1f);
   grid-template-rows: repeat(2, 1f);
}
.tech_grid .grid {
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all 0.3s ease;
}
/* Research */
#rnd_research_sec3 {
   background-color: #f5f3ee;
}
#rnd_research_sec3 .grid_container {
   width: 90%;
   height: 100%;
   margin: 0 auto;
   display: grid;
   grid-template-columns: 1fr 1fr;
}
.grid_container .grid5 {
   background-color: #f5f3ee;
}
/* 공통 그리드 관련 */
.grid_container .grid .outImg {
   width: 100%;
   height: 100%;
   position: relative;
}
.grid_container .grid .outImg .innerImg {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 3;
}
.grid_container .grid1 .outImg {background-image: url("../img/rnd/m31_bg1.jpg");}
.grid_container .grid4 .outImg {background-image: url("../img/rnd/m31_bg2.jpg");}
.grid_container .grid1 .outImg .innerImg {background-image: url("../img/rnd/m31_bg1_1.png");}
.grid_container .grid4 .outImg .innerImg {background-image: url("../img/rnd/m31_bg2_1.png");}

.grid_container .grid3 .outImg .grid3Img {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px;
   margin-top: 100px;
}
.grid_container .grid .outImg, .innerImg {
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
/* rndResearch.html grid 영역 grid5, grid6 */
.grid_container .grid5 .outImg {
   background-image: url("../img/rnd/m32_design_bg.jpg");
   width: 90%;
   height: 70%;
   margin-top: 150px;
}
/* grid1 - grid4  공통 text */
.grid_container .grid .outImg .text_area {
   width: 100%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   padding: 30px;
   color: #f5f3ee;
   z-index: 3;
}
   .text_area > h1 {
      font-family: "Cormorant", serif;
      font-size: 3.5rem;
      font-weight: 400;
      margin-top: 50px;
   }
   .text_area > h2 {
      font-size: 2rem;
      font-weight: 500;
   }
   .text_area > h4 {
      font-size: 1.5rem;
      font-weight: 500;
   }
   .text_area > h5 {
      font-size: 1rem;
      font-weight: 500;
   }
   .text_area > div {
      width: 1px;
      height: 30px;
      background-color: #f5f3ee;
      margin: 30px auto;
   }
/* grid2- grid6 text */
.grid_container .grid2 .text_desc {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-left: 150px;
   padding-right: 150px;
}
.grid_container .grid6 .text_desc {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-left: 100px;
}
.grid2 .text_desc > div, .grid6 .text_desc > div {
   padding: 45px 0;
   border-top: 1px solid #ccc;
   opacity: 0;
   transform: translateX(50px);
   transition: all 0.4s linear;
}
.grid2 .text_desc > div:last-child, .grid6 .text_desc > div:last-child {
   border-bottom: 1px solid #ccc;
   opacity: 0;
   transform: translateX(50px);
   transition: all 0.4s linear;
}
.grid2 .text_desc > div > h4, .grid6 .text_desc > div > h4 {
   font-size: 1.3rem;
   font-weight: 400;
   margin-bottom: 10px; 
   opacity: 0;
   transform: translateX(50px);
   transition: all 0.4s linear;
}
.grid2 .text_desc > div > p, .grid6 .text_desc > div > p {
   font-size: 1rem;
   color: #666;
   opacity: 0;
   transform: translateX(100px);
   transition: all 0.4s linear;
}
/* 글자 애니메이션 */
.grid2 .text_desc.on > div, .grid6 .text_desc.on > div {
   opacity: 1;
   transform: translateX(0);
}
.grid2 .text_desc.on > div:last-child, .grid6 .text_desc.on > div:last-child {
   opacity: 1;
   transform: translateX(0);
   transition-delay: 0.2s;
}
.grid2 .text_desc.on > div > h4, .grid6 .text_desc.on > div > h4 {
   opacity: 1;
   transform: translateX(0);
   transition-duration: 0.5s;

}
.grid2 .text_desc.on > div > p, .grid6 .text_desc.on > div > p {
   opacity: 1;
   transform: translateX(0);
   transition-duration: 0.8s;
}

/* grid3  text */
.grid_container .grid3 .outImg .text_nmn {
   width: 60%;
   position: absolute;
   top: 40%;
   left: 45%;
   transform: translate(-40%, -50%);
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   gap: 30px;
}
   .text_nmn > div {
      color: #f5f3ee;
   }
   .text_nmn > div:first-child {
      margin-bottom: 50px;
      padding-bottom: 30px;
      border-bottom: 0.2px solid #EEEAE2;
   }
   .text_nmn > div:last-child {
      margin-top:100px;
   }
   .text_nmn > div > h4 {
      font-size: 1.5rem;
   }
   .text_nmn > div > h5 {
      font-size: 1.3rem;
   }

.rnd_production_sec2 {
   width: 100%;
   background-color: #f5f3ee;
}
/* Production grid7, grid8 */
.rnd_production_sec3 {
   width: 100%;
   background-color: #f5f3ee;
   padding-top: 200px;
}
.rnd_production_sec3 .pro_grid {
   width: 100%;
   height: 100%;
   background-color: #f5f3ee;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);
}
.pro_grid .grid7 .outImg {
   width: 100%; 
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: end;
   gap: 50px;
}
.pro_grid .grid8 .text_desc {
   width: 90%;
   height: 100%;
   padding-left: 50px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 100px;
   margin: 0 auto;
}
.pro_grid .grid8 .text_desc > div:first-child {border-bottom: 1px solid #aaa;}
.pro_grid .grid8 .text_desc > div:last-child {border: none;}

.pro_grid .grid8 .text_desc > div > h4 {
   font-size: 1.5rem;
   font-weight: 400;
   margin-bottom: 30px;
}
.pro_grid .grid8 .text_desc > div > h5 {
   font-size: 1.1rem;
   font-weight: 500;
   color: #444;
   margin-bottom: 10px;
}
.pro_grid .grid8 .text_desc > div > p {
   font-size: 1rem;
   color: #666;
   line-height: 1.8;
   padding-bottom: 100px;
}
 
.devel_keyword {
   width: 100%;
   height: 100%;
   background-color: #EEEAE2;
   display: flex;
   flex-direction: column;
   gap: 100px;
}
.devel_keyword .textBox {
   margin-left: 100px;
   margin-top: 100px;
   line-height: 1.8;
}
.devel_keyword .textBox > h4 {
   font-size: 1.5rem;
   font-weight: 400;
   color: #111;
}
.devel_keyword .textBox > h5 {
   font-size: 1rem; 
   font-weight: 400;
   color: #666;
}
.iconImgBox {
   padding: 0 150px;
   display: flex;
   overflow: hidden;
   width: max-content;
}
.iconImgBox .rollingBox {
   display: flex;
   justify-content: center;
   align-items: center;
}
.iconImgBox > ul .benefit {
   width: 210px;
   height: 200px;
   border: 1px solid #ccc;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: #666;
   gap: 20px;
   margin-right: 20px;
}
.roll_01 {
   animation: move_rnd 50s linear infinite;
}
/* animation rolling */
@keyframes move_rnd {
   0% {transform: translateX(0);}
   100% {transform: translateX(-100%);}
}
.rnd_production_sec3 {
   width: 100%;
   height: 100%;
   margin-bottom: 200px;
}
.rnd_production_sec3 .pro_grid {
   width: 100%;
   height: 100%;
   background-color: #f5f3ee;
   display: grid;
   gap: 50px;
   grid-template-columns: 1fr 1fr;
}
.rnd_production_sec3 .pro_grid .grid9{
   width: 80%;
   height: 100%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 30px;
}
.grid9 .text_rnd {
   width: 100%;
   padding: 30px 0; 
   display: flex;
   flex-direction: column;
   cursor: pointer;
   gap:50px;
   border: none;
   background-color: #f5f3ee;
   border-top: 1px solid #ccc;
   /* border-bottom: 1px solid #ccc; */
} 
.grid9 .text_rnd:last-child {
   border-bottom: 1px solid #ccc;
}
.grid9 .text_rnd .title_btn span:first-child {
   font-family: "Cormorant", "Garamond", serif;
   font-size: 2.2rem;
   font-weight: 700;
   margin-right: 80px;
}
.grid9 .text_rnd .title_btn span:last-child {
   font-size: 1.4rem;
   font-weight: 500;
}
.grid9 .text_rnd .desc_text {
   color: #666;
   overflow: hidden;
   max-height: 0;
   opacity: 0;
   transform: translateY(-5px);
   transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.grid9 .text_rnd .desc_text.active{
   /* margin-top: 50px; */
   opacity: 1;
   transform: translateY(0);
}

/* rnd 반응형  */
@media screen and (max-width: 768px) {
   br {display: none;}
   .overlay > h1 {
      font-size: 6rem;
   }
   .overlay > p {
      font-size: 1rem;
   }
   .overlay {
      top: 70%;
   }
   .rnd_sec3, .rnd_sec4 {
      height: auto !important;
      overflow: visible !important;
   }
   .rnd_sec_long .grid_container {
      grid-template-columns: 1fr;
      grid-auto-rows: auto;
   }
   .grid_container .grid1,
   .grid_container .grid2 {
      width: 100%;
   }
   .grid_container .grid3,
   .grid_container .grid4 {
      width: 100%;
   }
   .outImg { min-height: 40vh; background-size: contain;}
   .outImg .innerImg {
      height: 100%;
      background-size: cover;
   }
   /* grid1 */
   .grid_container .grid1 .text_area {
      width: 95%;
   }
   .grid_container .grid1 .text_area h1 {
      font-size: 2.5rem;
      margin-top: 20px !important;
   }
   .grid_container .grid1 .text_area h2 {
      font-size: 1.5rem;
   }
   .grid_container .grid1 .text_area h4 {
      font-size: 1.1rem;
   }
   .grid_container .grid1 .text_area h5 {
      font-size: 0.8rem;
      width: 80%;
      margin: 0 auto;
   }
   /* grid2 */
   .grid_container .grid2 .text_desc {
      padding: 0 20px !important;
      width: 95%;
   }
   .grid2 .text_desc > div:last-child {padding-bottom: 40px;}
   .grid2 .text_desc > div > h4, .grid6 .text_desc > div > h4 {
      font-size: 1.2rem;
      font-weight: 500;
   }
   .grid2 .text_desc > div > p, .grid6 .text_desc > div > p {
      font-size: 0.8rem;
   }
   /* grid3 */
   .grid3Img {
      height: auto;
      background-size: contain;
   }
   .grid_container .grid3 {
      order: 2;
      width: 90%;
      margin-bottom: 100px;
   }
   .grid_container .grid3 .outImg .text_nmn {
      top: 55%; left: 30%;
   }
   .grid_container .grid3 .outImg .text_nmn > div:last-child {
      top: 55%; left: 30%;
   }
   /* grid4 */
   .grid_container .grid4 {
      order: 1;
      margin-top: 100px;
   }

   /* research */
   #rnd_research_sec3 .grid_container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
   }
   .rnd_content .frame3 .img_frame {
      height: calc(100vh - 110px);
      padding-top: 100px;
   }
   .rnd_content .frame3 .img_frame img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
   .img_frame .text_opacity {
      flex-direction: column;
      width: 100%;
      top: 55%;
   }
   .img_frame > h4 {
      width: 60%;
      top: 23%;
      font-size: 1.3rem;
   }
   .text_opacity .textBox {
      width: 90%;
      margin: 0 auto;
      padding: 40px;
   }
   .text_opacity .textBox > h4 {font-size: 1.3rem; padding-bottom: 10px;}
   .text_opacity .textBox > h5 {font-size: 0.8rem; padding-top: 15px;}
   
   /* grid5 */
   .grid_container .grid5 .outImg {margin-top: 80px; width: 100%;}
   
   /* grid6 */
   .grid_container .grid6 .text_desc {padding: 10px; justify-self: flex-start;}
   .grid6 .text_desc > div:first-child {border-top: none;}
   .grid6 .text_desc > div:last-child {border-bottom: 1px solid #ccc;}

   #rnd_research_sec4 {
      margin-top: 100px;
   }
   /* production - grid */
   .rnd_production_sec3 .pro_grid {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
   }
   .grid9 {order: 2;}
   .grid10 {order: 1;}
   .grid7 .outImg {width: 100%;}
   .grid7 .outImg > img:first-child {width: 100%;}
   .grid7 .outImg > img:last-child {width: 95%;}
   .grid8 .text_desc {width: 100%; float: left; gap: 50px !important}
   /* .pro_grid .grid8 .text_desc > div {} */
   .pro_grid .grid8 .text_desc > div > h4 {font-size: 1.3rem; }
   .pro_grid .grid8 .text_desc > div > h5 {font-size: 1.1rem; }
   .pro_grid .grid8 .text_desc > div > p {width: 100%; font-size: 0.9rem; white-space: collapse; padding-bottom: 50px !important;}

   .grid10 .outImg {width: 100%; height: auto;}
   .grid10 .outImg > img {width: 100%; height: 400px;}

   .grid9 { width: 100%;}
   .grid9 > ul .text_rnd .desc_text > li > p {font-size: 0.9rem; white-space: collapse;}
   .grid9 .text_rnd .title_btn span:first-child {font-size: 2rem; font-weight: 500; margin-right: 30px;}
   .grid9 .text_rnd .title_btn span:last-child {font-size: 1.2rem; height: auto; font-weight: 400;}
}  