.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  display: flex;
  gap: 28px;
  padding: 24px 40px;
  font-size: 15px;
  z-index: 100;
}

.item {
  position: relative;
  color: #333;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.item::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  width: 40px;
  height: 40px;
  background: rgba(136, 64, 218, 0.45);
  border-radius: 50%;
  transform: translateX(-50%) scale(0);
  transition: 0.5s ease;
}

.item:hover::after {
  transform: translateX(-50%) scale(1);
}
