.wrapper {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.bgVideo {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 0.45;
  pointer-events: none;
}
.centerCircle {
  position: relative;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background: #09445c;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 2;
}

.centerCircle h2 {
  margin-bottom: 8px;
  font-size: 40px;
}

.centerCircle p {
  font-size: 16px;
  opacity: 0.8;
}

.smallCircle {
  position: absolute;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: #b484dc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
  transition: transform 0.3s ease, background 0.3s ease;
  animation: float 6s ease-in-out infinite;
  z-index: 2;
  text-decoration: none;
  color: inherit;
}

.smallCircle:hover {
  transform: translateX(-8px) scale(1.12);
  background: rgba(15, 1, 24, 0.12);
}

.c1 {
  width: 180px;
  height: 180px;
  top: 10%;
  left: 32%;
  transform: translateX(-50%);
}

.c2 {
  top: 32%;
  left: 18%;
}

.c3 {
  bottom: 10%;
  right: 38%;
}

.c4 {
  top: 40%;
  right: 20%;
}
.c5 {
  top: 20%;
  right: 33%;
}

.c6 {
  bottom: 25%;
  left: 28%;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}
